@import './../../../theme/styles/styles';

.billboard {
  padding-top: $padding-double;
}

.circle-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

.add-button {
    float: right;
}
