$green: #4caf50;
$blue: #08c;
$orange: #ff8c00;
$red: #dc143c;
$black: #000;
$light-grey: #eeeff3;
$grey: #999;
$white: #fff;

$typography-default-color: #5C5C5C;

$primary: #9B8861;
$secondary:#E9C98E;

:export {
  red: $red;
  blue: $blue;
  orange: $orange;
  green: $green;
  black: $black;
  white: $white;
  grey: $grey;
  typographyColor: $typography-default-color;
  primary: $primary;
  secondary: $secondary;
}
