$letter-spacing: 1px;

$font-family: 'Roboto', sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 1rem;
$font-size: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2.25rem;

$font-weight-light: 300;
$font-weight-bold: 700;

:export {
  letterSpacing: $letter-spacing;
  fontFamily: $font-family;
  fontSizeXs: $font-size-xs;
  fontSizeSm: $font-size-sm;
  fontSize: $font-size;
  fontSizeLg: $font-size-lg;
  fontSizeXl: $font-size-xl;
  fontSizeXXL: $font-size-xxl;
  fontWeightLight: $font-weight-light;
  fontWeightBold: $font-weight-bold;
}
